@error: #b71c1c;
@primary: #0d47a1;

.bookmark {
  display: flex;

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
  }

  input {
    width: calc(100% - 16%);
    height: 100%;
    padding: 1rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    border: 2px solid #000;

    &.is-valid {
      border: 2px solid @primary;
    }

    &.is-invalid {
      border: 2px solid @error;
    }

    &.is-invalid.ng-untouched {
      border: 2px solid #000;
    }

    &:read-only {
      border: 2px solid lighten(#000, 90%);
      background: lighten(#000, 90%);

      &:focus {
        outline: none;
      }
    }
  }

  button {
    min-width: 16%;
  }
}
