<div class="bookmark">
  @if (showAdd) {
    <input
      (input)="validateAddBookmarkLink()"
      placeholder="enter link here"
      type="text"
      [(ngModel)]="bookmark"
      [attr.class]="isButtonDisabled ? 'is-valid' : 'is-invalid'"
    />
  }

  @if (showEdit) {
    <div class="count">{{index < 10 ? '0' + index: index}}</div>
    <input
      (input)="validateEditBookmarkLink()"
      [attr.value]="savedBookmarkText"
      [attr.readonly]="bookMarkIsEditable ? null : true"
      [attr.class]="isEditableLinkValid ? 'is-valid' : 'is-invalid'"
      [(ngModel)]="savedBookmarkText"
    />
  }

  @if (showAdd) {
    <button
      (click)="handleAddBookmark()"
      [attr.disabled]="isButtonDisabled ? null : true"
    >
      Add Bookmark
    </button>
  }

  @if (showEdit) {
    <button (click)="handleEdit()">
      Edit
    </button>
  }

  @if (showEdit) {
    <button
      (click)="handleSave(index)"
      [attr.disabled]="isEditableLinkValid === false ? true : bookMarkIsEditable ? null : true"
    >
      Save Changes
    </button>
  }

  @if (showDelete) {
    <button (click)="handleDelete(index)">Delete</button>
  }
</div>
