<div class="bookmark">
  @if (showAdd) {
    <input
      (input)="validateAddBookmarkLink()"
      placeholder="enter link here"
      type="text"
      [(ngModel)]="bookmark"
      [attr.class]="!isButtonDisabled ? 'is-valid' : 'is-invalid'"
    />
  }

  @if (showEdit) {
    <div class="count">
      {{ localIndex < 10 ? "0" + localIndex : localIndex }}
    </div>
    <input
      (input)="validateEditBookmarkLink()"
      [attr.value]="savedBookmarkText"
      [attr.readonly]="bookMarkIsEditable ? null : true"
      [attr.class]="isEditableLinkValid ? 'is-valid' : 'is-invalid'"
      [(ngModel)]="savedBookmarkText"
    />
  }

  @if (showAdd) {
    <button
      (click)="handleAddBookmark()"
      [attr.disabled]="isButtonDisabled ? true : null"
      class="button-primary"
    >
      Add Bookmark
    </button>
  }

  @if (showEdit) {
    <button (click)="handleEdit(localIndex)"
            class="button-primary"

    >Edit</button>
  }

  @if (showEdit) {
    <button
      (click)="handleSave(savedBookmarkText, globalIndex)"
      [attr.disabled]="
        isEditableLinkValid === false ? true : bookMarkIsEditable ? null : true
      "
      class="button-secondary"

    >
      Save Changes
    </button>
  }

  @if (showDelete) {
    <button (click)="handleDelete(globalIndex)"
            class="button-danger"

    >Delete</button>
  }
</div>
