/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, Arial, sans-serif;
}

.title-font {
  font-family: Garamond, serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.body-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, Arial, sans-serif;
}

main {
  padding: 1rem 1rem 1rem 1rem;
}
