/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, Arial, sans-serif;
  overflow-x: hidden;
}

//fonts used as title font
.title-font {
  font-family: Garamond, serif;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

//font used for body text
.body-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, Arial, sans-serif;
}

//global padding on the main component
main {
  padding: 1rem 1rem 1rem 1rem;
}

//colour system inspired from material ui colours

@primary: lighten(#000000, 25%);
@secondary: #8bc34a;
@error: #c62828;

.error {
  color: @error;

  &-bg {
    background: @error;
  }

  &-border {
    border: 2px solid @error !important;
  }
}

.primary {
  color: @primary;

  &-bg {
    background: @primary;
  }

  &-border {
    border: 2px solid @error !important;
  }
}

.heading {
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  margin-bottom: 0.75rem;

  &.first {
    margin-top: 0;
  }
}

//our custom made button styles used for all buttons
.common-button(@name, @bg-colour) {
  .button-@{name} {
    padding: 0.75rem;
    text-decoration: none;
    background: @bg-colour;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background: darken(@bg-colour, 20%);
    }

    color: #fff;
    border: none;

    &:disabled {
      background: lighten(#000, 80%);
      color: lighten(#000, 60%);
    }
  }
}

.button-link {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid @primary;
  text-transform: uppercase;
  color: @primary;

  &:hover,
  &:focus {
    background: @primary;
    color: #ffffff;
  }
}

.common-button(primary, @primary);
.common-button(secondary, @secondary);
.common-button(danger, @error);

//at 700px we are hiding elements to make them mobile friendly
@media only screen and (max-width: 900px) {
  .hide-on-mobile {
    display: none !important;
  }
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}
